<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>Uygulama deneyiminizi iyileştirmek için izin verin.</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
</dict>
</plist>
